#relInfoWrapper {
    border-bottom: solid 1px #dddddd;
}

#relInfoHeader {
    text-align: center;
    height: 23px;
    text-transform: uppercase;
    padding-top: 2px;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
}

#relInfoContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 60px;
    overflow: auto;
}

    #relInfoContainer table {
        font-size: 12px;
    }

.relProfile {
    padding-right: 10px;
}

    .relProfile .profileHeader {
        width: 90px;
        vertical-align: top;
        font-weight: bold;
    }

.profileContent {
    word-break: break-word;
}

.linkProfile {
    padding-left: 10px;
    padding-right: 10px;
}

.linkProfileTable {
    word-break: break-all;
}

    .linkProfileTable td {
        vertical-align: top;
    }

#navListContainer {
    float: left;
    width: 25%;
}

    #navListContainer .selected {
        border: solid;
        border-width: 1px 0 1px 0;
    }

    #navListContainer .link {
        min-height: 30px;
        overflow: auto;
        display: table;
        width: 100%;
    }

.linkLi {
    margin-bottom: 5px;
}

    .linkLi:hover {
        opacity: 0.7;
    }

.linkPart {
    min-height: 30px;
    vertical-align: middle;
    display: table;
}

.linkPartText {
    display: table-cell;
    vertical-align: middle;
    padding-left: 3px;
    font-size: 12px;
    color: black;
    word-break: break-word;
}

#navListContainer .link .fromPart {
    width: 48.5%;
    float: left;
    background-color: #EFF3FB;
}

#navListContainer .link .toPart {
    width: 48.5%;
    float: right;
    background-color: #FFEEBB;
}

#navListContainer .nav-list a {
    padding: 0;
    width: 100%;
    margin: 0;
}

#tableContainer {
    float: right;
    width: 74.9%;
    border-left: solid 1px #dbdbdb;
}

.addSynonymInputWrapper {
    padding: 10px 0 0 13px;
}

.synonymInput {
    height: 25px !important;
    margin-bottom: 0;
}

.addSynonymBtn {
    margin-top: -10px;
}

.accordionWrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.accordion-heading {
    background-color: #dbdbdb;
}

    .accordion-heading a {
        color: black;
    }

.linkDataContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

    /* Search input */
    .linkDataContainer label input {
        width: 150px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }

.linkDataTable thead {
    background-color: #dddddd;
}

.linkDataTable td, .linkDataTable th {
    border: solid 1px black;
}

.dataTables_filter > label > input {
    margin-bottom: 0 !important;
    height: 28px;
}

.linkDataTable form {
    margin-bottom: 0 !important;
}

.synonymMappingTable {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

    .synonymMappingTable td {
        border: solid 1px #aaaaaa;
        padding: 5px;
    }

.icon-remove-sign:hover {
    cursor: pointer;
}
