input.parsley-success, textarea.parsley-success, select.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error, textarea.parsley-error, select.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

ul.parsley-error-list {
    font-size: 11px;
    margin: 2px;
    list-style-type: none;
    color: red;
}

    ul.parsley-error-list li {
        line-height: 11px;
    }
