.relationshipInfo{
    background-color: white;
}

.relProfile td, .linkProfileTable td{
    background-color: white;
    border-width: 0;
    border-color: white;
    font-size: 14px !important;
    padding: 5px;
}

.relProfile .profileHeader{
    width: 15%;
    vertical-align: top;
    font-weight: bold;
}

.linkProfileTable .linkProfileHeader{
    width: 15%;
}

.relProfile .profileContent, .linkProfileTable .linkProfileContent{
    width: 75%;
}

.linkProfileContainer{
    overflow: auto;
    margin-top: 20px;
}

.linkProfileContainer .linkProfile {
    width: 50%;
}

.linkProfileContainer .fromProfile{
    float: left;
}

.linkProfileContainer .toProfile{
    float: left;
}

.linkProfileContent a {
    color: black;
}

.links {
    padding: 0px 8px 18px 5px;
    border-width: 0;
}

.links, .link{
    overflow: auto;
}

.links .link{
    margin-top: 8px;
}

.links .link .linkPart{
    min-height: 35px;
    overflow: auto;
    display: table;
}

.links .link .fromPart{
    width: 50.4%;
    float: left;
    background-color: #EFF3FB;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.links .link .toPart{
    width: 49.6%;
    float:right;
    background-color: #FFEEBB;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.links .link .linkPartText{
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
}

.seeCommentsContainer {
    height: 26px;
    background-color: #edeff4;
}

.seeCommentsContainer a{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #CC6600;
    margin: 5px 0 0 380px;
}

.seeCommentsContainer a:hover{
    color: #E0A366;
    cursor: pointer;
}

.comment {
    min-height: 60px;
    overflow: auto;
    font-size: 14px;
    border-bottom: solid 1px #dbdbdb;
    padding-top: 5px;
    padding-bottom: 15px;
}

.confidenceContainer{
    float: left;
    width: 8%;
    overflow: auto;
    height: 50px;
    margin-top: 8px;
    background-color: #dddddd;
}

.confidenceText {
    display: block;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 18px;
    color: #CC6600;
}

.confidenceStaticText {
    font-size: 9px;
    margin-top: 8px;
    display: block;
    text-align: center;
}

.commentErrorMsg {
    margin-top: 5px;
    margin-bottom: 0 !important;
}

.commentBody{
    float: right;
    width: 90.3%;
    overflow: auto;
}

.commentHeader {
    height: 30px;
    padding-top: 12px;
}

.commentContent {
    line-height: 130%;
}

.userName, .userEmail, .commentTime {
    display: inline-block;
}

.userName{
    font-weight: bold;
}

.userName a {
    color: black;
}

.commentControlPanel {
    display: inline-block;
}

.commentControlPanel i{
    margin-left: 4px;
}

.commentControlPanel i:hover{
    cursor: pointer;
}

.commentTime{
    float: right;
    margin-right: 10px;
    color: grey;
}

.yourCommentEditor {
    border-bottom: solid 1px #dbdbdb;
    padding-bottom: 10px;
}

.yourComment {
    background-color: #FFEEBB;
}

.confidenceDesTable td {
    font-weight: bold;
    color: black;
    border: none;
    background-color: white;
}

.addCommentContainer{
    height: 50px;
    border-bottom: solid 1px #dbdbdb;
    font-size: 14px;
}