#storyStatus {
    margin-bottom: 10px;
}

.storyStatusTableList {
    list-style-type: none;
}

.storyStatusTableListWrapper {
    background: white;
    border-top: solid 1px #dbdbdb;
    font-size: 12px;
    font-family: "Open Sans","lucida grande","Segoe UI",arial;
}

.storyStatusTableListHeader {
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),inset 0 0 0 #000;
    background-color: #f0f9ff;
}

.storyStatus {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: solid 1px #dbdbdb;
    overflow: auto;
}

.statusHeader, .statusCol {
    display: inline-block;
}

.statusHeader-tableName, .statusTableName {
    width: 25%;
    padding-left: 10px;
}

.statusHeader-records, .statusRecordsProcessed {
    width: 15%;
}

.statusHeader-status, .statusStatus {
    width: 20%;
}

.statusHeader-timeStart, .statusHeader-timeEnd, .statusTimeStart, .statusTimeEnd {
    width: 18%;
}
