#sourceSelectionWrapper {
    overflow-y: scroll;
    height: 315px;
    margin-top: 10px;
}

.sourceWorksheetSettingsWrapper {
    margin-bottom: 10px;
}

.sourceName {
    font-size: 16px;
    font-weight: bold;
    background-color: #eeeeee;
    margin: 5px 0 10px 0;
}